html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: rgb(255, 254, 181); */
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#topic-text {
    padding-bottom: 10px;
}